on:
  push:
    branches:
      - main

jobs:
  sample:
    runs-on: ubuntu-latest
    name: Sample
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get PR labels
        id: pr-labels
        uses: irby/get-labels-on-push@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          env | grep GITHUB_PR_LABEL || true
      - run: |
          echo ${{join(steps.pr-labels.outputs.labels, ', ')}}
          echo ${{join(steps.pr-labels.outputs.labels-object, ', ')}}

